
/* @media screen and (min-width: 768px) {

}

@media screen and (min-width: 1158px) {
	
} */

body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #2E2F42;
	font-weight: 400;
	letter-spacing: 0.02em;
}	

/* block scroll on page when modal window open */
body:has(.modal-overlay.is-open) {
	overflow-y: hidden;
}

button {
	font-family: inherit;
	font-weight: 500;	
	font-size: 16px;
	color: white;
	background-color: #4D5AE5;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	padding: 16px 32px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
	background-color: #404BBF;
}

p {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
}

a {
	font-family: inherit;
	color: #000;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.333;
	letter-spacing: 0.04em;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:active,
a.link {
	color: #4D5AE5;
}

a:hover,
a:focus {
	color: #404bbf; 
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #2E2F42;
}

input {
	font-family: inherit;
}

section {
	padding-top: 96px;
	padding-bottom: 96px;
	display: flex;
    justify-content: center;
}

@media screen and (min-width: 1158px) {
	
	section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

h1 {
	font-family: inherit;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: white;
	width: 216px;
}


@media screen and (min-width: 768px) {
	
	h1 {
		font-size: 56px;
		width: 496px;
	}

}

h2 {
	font-family: inherit;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2E2F42;
}

h3 {
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

@media screen and (min-width: 1158px) {
	
	h3 {
		font-size: 20px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.background-navy-blue {
	background-color: #2E2F42;
}

.color-navy-blue {
	color: #2E2F42;
}

.color-slate {
	color: #434455;
}

.center {
	text-align: center;
}

.page-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	line-height: 1.17;
	text-transform: uppercase;
	color: #2E2F42;
	text-decoration: none;
	font-size:  18px;
	font-weight: 700;
	letter-spacing: 0.03em;
	display: block;
	padding-top: 17px;
	padding-bottom: 17px;
}

@media screen and (min-width: 768px) {
	
	.page-logo {
	padding-top: 24px;
	padding-bottom: 24px;
	margin-right: 120px;
	}

	.page-nav, 
	address {
		display: block;
	}

}

@media screen and (min-width: 1158px) {
	.page-logo {
		margin-right: 76px;
	}
}

.accent-blue {
  color: #4D5AE5;
}

.nav-list,
address {
	display: none;
}

.container {
	width: 100%;
	max-width: 320px;
	padding: 0 16px;
}

@media screen and (min-width: 768px) {
 
	.container {
		max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  
	.container {
    	max-width: 1158px;
		padding: 0 15px;
 	}
}

/* header */

.header-container {
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	justify-content: center;
}

.header-container .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.page-header {
	border-bottom: 1px solid #E7E9FC;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
			  0px 1px 1px rgba(46, 47, 66, 0.16),
			  0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
	display: flex;
}

@media screen and (min-width: 768px) {

	/* navigation */

	.page-nav .nav-list a:hover,
	.page-nav .nav-list a:focus {
		color: #404BBF;
	}

	nav a {
		padding-bottom: 5px;
	}

	nav a:active {
		color: #404BBF;
	}

	.page-nav .nav-list {
		display: flex;
		gap: 40px;
	}

	.page-nav .nav-list a {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: medium;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:#2E2F42;
		padding-top: 24px;
		padding-bottom: 24px;
		display: block;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.nav-list-item {
	position: relative;
	}

	.nav-list-link.active {
		color: #404bbf;
	}

	.nav-list-link::after,
	.nav-list-link.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 4px;
	background-color: #404BBF;
	border-radius: 2px;
	}

	.nav-list-link::after {
		/* transition: transform 0.3s ease; */
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		transform: scaleX(0);
		transform-origin: left;
	}

	.nav-list-link.active::after {
		transform: none;
	}

	.nav-list-link:hover::after {
		transform: scaleX(1);
	}

	/* end navigation */

	address {
		display: block;
		margin-left: auto;
		font-style: normal;
	}

	

	.social-list li a {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		color: #434455;
		padding-top: 24px;
		padding-bottom: 24px;
		display: block;
		font-style: normal;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	@media screen and (min-width: 1158px) {
		
		.social-list li a {
			font-size: 16px;
			line-height: 1.5;
		}

	}

	.social-list li a:hover,
	.social-list li a:focus {
		color: #404BBF;
	}

	.burger-button {
		display: none;
	}

}

/* adress-social-menu */

@media screen and (min-width: 768px) {
	.social-list {
		display: flex;
		gap: 12px;
		flex-direction: column;
	}
}

@media screen and (min-width: 1158px) {
	.social-list {
		gap: 40px;
		flex-direction: row;
	}
}

@media screen and (min-width: 768px) {
	
	.social-list li.first a {
		padding: 0;
	}

	.social-list li.last a {
		padding: 0;
	}
}

@media screen and (min-width: 1158px) {
	
	.social-list li.first a {
		padding: 0;
	}

	.social-list li.last a {
        padding: 0;
	}
}
	
/* end-adress-social-menu */

/* burger */

.page-nav-burger {
	margin-left: auto;
}

button.burger-button {
	border-radius: 0;
	background: none;
	padding: 0;
	box-shadow: none;
}

/* burger-icon */

/* .page-nav-burger {
	position: absolute;
	top: 21px;
    right: 20px;
	z-index: 1000;
} */

/* burger-menu */

.mobile-menu-backdrop {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition: opacity 250ms ease;
}

.mobile-menu-backdrop.is-open {
 	opacity: 1;
  	visibility: visible;
  	pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}

.mobile-menu {
	position: relative;
	/* max-width: 320px; */
	width: 100%;
	height: 100%;

	margin-left: auto;
	padding: 72px 16px 40px 16px;
	background-color: #fff;

	/* transform: translateX(100%); to movw menu from the right side */
	transition: transform 250ms ease;
	will-change: transform;
}

.mobile-menu-backdrop.is-open .mobile-menu {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
	
	.mobile-menu {
		padding: 72px 24px 40px 24px;
	}

}

.mobile-link {
	font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.mobile-link.active {
	color: #404BBF;
}

.mobile-menu nav {
	margin-bottom: 168px;
}

.mobile-menu .social-list {
	display: block;
}

.mobile-menu .social-list li a {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.mobile-menu address.mobile-address {
	display: block;
	margin-bottom: 48px;
} 

.mobile-menu .social-wrapper {
	gap: 40px;
}

.mobile-menu .social-wrapper .mobile-menu-social-list-item .social-link {
    background-color: rgb(77, 90, 229);
    display: flex;
    box-shadow: none;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .social-wrapper .mobile-menu-social-list-item svg {
    fill: rgb(244, 244, 253);
}

/* .mobile-menu {
	DO NOT DELETE BELOW - CLASS FOR WORK OF THE MOBILE MENU 
	opacity: 0;
  	visibility: hidden;
	pointer-events: none;
} */

/* DO NOT DELETE - CLASS FOR WORK OF MOBILE MENU */
		/* .mobile-menu.is-open {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		} */


/* hero banner */

.main-banner-hero {
	padding-top: 72px;
	padding-bottom: 72px;

	background-image:
	linear-gradient(
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)
	),
	image-set(
		url("../images/m-and-t-images/people-office-m.jpg") 1x,
		url("../images/2x-images/people-office-m@2x.jpg") 2x
	);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1440px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {

	.main-banner-hero {
		padding-top: 112px;
		padding-bottom: 112px;
	}

}

@media screen and (min-width: 1158px) {
	.main-banner-hero {
		padding-top: 188px;
		padding-bottom: 188px;
	}
}

.main-title {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align:center;
	line-height: 1.07;
	letter-spacing: 0.02em;
	max-width: 216px;
	margin: 0 auto;
	font-size: 36px;
	margin-bottom: 72px;
}


@media screen and (min-width: 768px) {
	
	.main-title {
		max-width: 496px;
		font-size: 56px;
		margin-bottom: 36px;
	}

	.main-banner-hero {
		background-image:
		linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		image-set(
			url("../images/m-and-t-images/people-office-t.jpg") 1x,
			url("../images/2x-images/people-office-t@2x.jpg") 2x
		);
	}

}

@media screen and (min-width: 1158px) {
	.main-banner-hero {
		padding-top: 188px;
		padding-bottom: 188px;
		background-image:
			linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			image-set(
				url("../images/people-office.jpg") 1x,
				url("../images/2x-images/people-office@2x.jpg") 2x
			);
	}

	.main-header {
		margin-bottom: 48px;
	}

}

.button-section {
	text-align: center;
}

/* feachers */


.features-title {
	text-align: center;
	font-size: 36px;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	line-height: 1.11;
	color: #2e2f42;
}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 24px;
}

.features-list-item {
	margin-right: 0;
	min-width: 288px;
	/* margin-bottom: 72px; */
}

.features-list-item:last-child {
	margin-bottom: 0;
}

.features-list .features-icon-wrapper {
	display: none;
}

.feature-text {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
}

p.feature-text {
	color: #434455;

}

@media screen and (min-width: 768px) {

	.features-list-item {
		max-width: 345px;
		/* margin-right: 23px; */
	}


	/* .features-list-item:nth-child(1),
	.features-list-item:nth-child(2) {
		margin-bottom: 72px;
	} */

	/* .features-list-item:last-child {
		margin-right: 0;
	} */

}

@media screen and (min-width: 1158px) {
	
	.features-list .features-icon-wrapper {
		display: flex;
		/* padding: 24px; */
		margin-bottom: 8px;
		background-color: #F4F4FD;
		border: 1px solid #8e8f99;
		border-radius: 4px;
		max-width: 264px;
		height: 112px;
		fill: #2E2F42;
		justify-content: center;
		align-items: center;
	}

	.features-title {
		font-size: 20px;
		font-weight: 500;
	}

	.features-list {
		flex-direction: row;
		flex-wrap: nowrap;
		max-width: 1128px;
		margin: 0 auto;
	}

	.features-list-item {
		margin-right: 24px;
		max-width: 264px;
		min-width: auto;
	}

	.feature-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

}

/* team-section */

section.team-block ul.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 72px 12px;
	justify-content: center;
}

@media screen and (min-width: 768px) {

	section.team-block ul.team-list {
		display: flex;
		flex-wrap: wrap;
		gap: 64px 24px;
		justify-content: center;


	}

}

@media screen and (min-width: 1158px) {
	
	section.team-block ul.team-list {
		display: flex;
	}
}

section.team-block {
	background: #F4F4FD;
}

.team-area {
	padding: 32px 16px 32px 16px;
}

.team-area h3 {
	margin-bottom: 8px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
}

.team-text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #434455;
	margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
	
	.team-text {
		font-weight: 400;
		font-size: 16px;
	}
}
 
.team-title {
	margin-bottom: 72px;
}

section.team-block ul.team-list li {
	background: #FFFFFF;
	max-width: 264px;
	border-radius: 0 0 4px 4px;
	/* box-shadow: none; */
	box-shadow: none;box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 2px 1px rgba(46, 47, 66, 0.08);  				  
}

section.team-block ul.social-wrapper li {
	box-shadow: none;
	width: auto;
	margin: 0;
}

section.team-block ul li:last-child {
	margin-right: 0;
}

section.team-block ul li img {
	display: block;
}

.social-wrapper {
	display: flex;
	justify-content: center;
	gap: 24px;
	/* padding-bottom: 32px; */
}

@media screen and (min-width: 768px) {

	.social-wrapper {
		justify-content: left;
	}

}

section.team-block ul li.team-social-list-item .social-link {
	background-color: #4D5AE5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
    align-items: center;
    box-shadow: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 40px;
    height: 40px;
}

.team-social-list-item svg {
	fill: #F4F4FD;
}

@media screen and (min-width: 1158px) {

	section.team-block ul.team-list ul.social-wrapper li:hover {
		box-shadow: none;;
	}

	section.team-block ul li.team-social-list-item .social-link:hover {
		background-color: #404BBF;
	}

}

/* end-team-section */


/* portfolio */

.portfolio-title {
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
    flex-wrap: wrap;
  	row-gap: 48px;    /* між рядками */
	column-gap: 0;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	
	.portfolio-list {
		column-gap: 24px; /* між колонками */
		row-gap: 72px;    /* між рядками */
		justify-content: center;
	}

}

li.portfolio-list-item img {
	display: block;
	max-width: 288px;
	height: 280px;
}

@media screen and (min-width: 768px) {
	
	li.portfolio-list-item img {
		max-width: 356px;
		height: 300px;
	}

}

@media screen and (min-width: 1158px) {
	
	li.portfolio-list-item img {
		max-width: 360px;
	}

}

.portfolio-area {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-area .portfolio-item-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-area .portfolio-item-type {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.box {
	position: relative;
	margin: 0;
    max-width: 288px;
  	height: 280px;
	margin: 0 auto;
	background-color: #4D5AE5;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	
	.box {
		max-width: 356px;
		height: 300px;
	}

}

@media screen and (min-width: 1157px) {

	.box {
		max-width: 360px;
	}

}

/* overlay on portfolio item */

li.portfolio-list-item {
	box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

@media screen and (min-width:1158px) {
	
	li.portfolio-list-item {
		box-shadow: none;
	}

}

li.portfolio-list-item:hover {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
	0 1px 1px 0 rgba(46, 47, 66, 0.16), 
	0 1px 6px 0 rgba(46, 47, 66, 0.08);
	transform: translateY(0);
	
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	color: #F4F4FD;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .box .overlay {
	transform: translateY(0);
}

.overlay p {
	color: #F4F4FD;
	padding: 40px 32px;
	margin: 0;
	font-size: 16px;
}

.overlay code {
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: #4D5AE5;
}



/* end portfolio */


/* footer */

.footer-area {
	display: flex;
    justify-content: center;
	padding-top: 96px;
 	padding-bottom: 96px;
}

.footer-content-section {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}

@media screen and (min-width: 768px) {
		
	.footer-content-section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
	}

}

@media screen and (min-width: 1158px) {

	.footer-content-section {
		display: flex;
		align-items: baseline;
		column-gap: 0px;
	}

	.footer-content-section > * {
		flex-basis: auto;
	}

}

.footer-content-section .block-1 .logo-link,
.footer-content-section .block-2 .section-footer-socials-title,
.footer-content-section .block-3 .footer-block-3-title {
	text-align: center;
}

@media screen and (min-width: 768px) {
	
	.footer-content-section .block-1 .logo-link,
	.footer-content-section .block-2 .section-footer-socials-title {
		text-align: left;
	}

}

.footer-content-section .block-3 .footer-block-3-title {
	color: white;
	margin-bottom: 16px;
}

.footer-content-section .footer-block {
	margin: 0;
}
	
.footer-content-section .footer-block.block-1,
.footer-content-section .footer-block.block-2 {
	margin-bottom:72px;
}

.footer-content a.logo-link{
	color: #F4F4FD;
	text-decoration: none;
    padding-top: 0;
    display: block;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.footer-content p.footer-info {
	color: #F4F4FD;
	padding-top: 16px;
}

p.footer-info {
	min-width: 264px;
}

@media screen and (min-width: 1158px) {

	.footer-content-section .block-1 .logo-link,
	.footer-content-section .block-2 .section-footer-socials-title,
	.footer-content-section .block-3 .footer-block-3-title {
		text-align: left;
	}

	.footer-content-section .block-1 {
		margin: 0 120px 0 0;
		max-width: 260px;
	}

	.footer-content-section .block-2 {
		margin-right: 83px;
	}

	.footer-content-section .block-3 {
		margin: 0 0 72px 0;
	}

	.footer-content-section .block-3 .footer-block-3-title {
    	text-align: left;
	}

}

.footer-area .social-wrapper {
	gap: 16px;
}

.section-footer-socials .section-footer-socials-title {
	color: white;
	font-family: "Roboto", sans-serif;
	margin-bottom: 16px;
}

footer ul.social-wrapper li.team-social-list-item .social-link {
	background-color: #4D5AE5;
    /* padding: 12px; */
    border-radius: 50%;
    display: flex;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center	;
}

footer ul.social-wrapper  li.team-social-list-item .social-link:hover {
	background-color: #31D0AA;
}

@media screen and (min-width: 768px) {

	.footer-content-section .block-3 .footer-block-3-title {
    	text-align: left;
	}

}

@media screen and (min-width: 1158px) {

	.footer-content-section .block-3 {
		min-width: 455px;
	}

}

@media screen and (min-width: 1158px) {

	.footer-form {
		display: flex;
	}

}

/* subscribe form */

.footer-block-3-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #ffffff;
	margin-bottom: 16px;
}

.footer-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (min-width: 768px) {

	.footer-form {
		display: flex;
		flex-wrap: nowrap;
		justify-content: left;
	}
}

.footer-form .footer-input{
	border: 1px solid #fff;
	border-radius: 4px;
	width: 288px;
	height: 40px;
	background-color: #2e2f42;
	padding: 8px 16px;
	margin: 0 0 16px 0;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.footer-form .footer-input {
		margin: 0 24px 0 0;
		width: 264px;
	}
}

@media screen and (min-width: 1158px) {

	.footer-form .footer-input{
		width: 264px;
		margin-right: 24px;
		margin: 0 24px 0 0;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

}

.footer-form .footer-input::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: #fff;
}

.footer-button {
	border-radius: 4px;
    padding: 8px 25px;
    width: 165px;
    height: 40px;
    text-align: left;
	display: flex;
    align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus-within,
.footer-button:focus,
.footer-button:hover {
	background-color: #31D0AA;
	outline: none;
}

.footer-input:focus-within,
.footer-input:focus,
.footer-input:hover {
	border: 1px solid #31D0AA;
	outline: none;
}

.footer-input::placeholder:focus,
.footer-input::placeholder:focus-within,
.footer-input::placeholder:hover {
	color: #31D0AA;

}

.footer-button-wrapper {
	position: relative;
	width: fit-content;
}

.footer-button-icon {
	fill: #fff;
    stroke: #fff;
    position: absolute;
    top: 10px;
    right: 19px;
}


/* end footer */



/* modal window */

.modal-overlay {
	background-color: rgba(46, 47, 66, 0.4);
	position: fixed;
	inset:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

	/* DO NOT DELETE BELOW - CLASS FOR WORK OF THE FORM */
	/*  */opacity: 0;
  	/*  */visibility: hidden;
	/*  */pointer-events: none;
	/*  */
}

/* @media screen and (min-width: 768px) {
	
	.modal-overlay {
		display: none;
	}

} */

/* DO NOT DELETE - CLASS FOR WORK OF THE FORM */
			.modal-overlay.is-open {
				opacity: 1;
				visibility: visible;
				pointer-events: initial;
			}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: #FCFCFC;
	padding: 72px 16px 24px 16px;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
				0 1px 3px 0 rgba(0, 0, 0, 0.12), 
				0 2px 1px 0 rgba(0, 0, 0, 0.2);
	max-width: 288px;
	min-height: 635px;
	/* overflow-y: auto;
	position: relative;
	z-index: 1001; */
}

@media screen and (min-width: 768px) {

	.modal {
		max-width: 408px;
		padding: 72px 24px 24px 24px;
	}

}

button.modal-close {
	position: absolute;
	top: 24px;
	right: 24px;
	background: none;
	cursor: pointer;
	border-radius: 100%;
	fill: #2e2f42;
	/* stroke-width: 1px; */
	stroke: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #e7e9fc;
	padding: 0;
	width: 24px;
    height: 24px;
	line-height: 0;	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.modal-close:hover {
	background-color: #404bbf;
	fill: #fff;
	border: 1px solid #4D5AE5;
}

.modal-form input {
	width: 100%;
	padding: 8px 8px 8px 45px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2E2F42;
	outline: none;
	height: 40px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input:focus,
.modal-form textarea:focus {
	border: 1px solid #4d5ae5;
	outline: none;
}

.modal-form .form-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 16px;
	text-align: center;
	padding: 0 30px;
}

@media screen and (min-width: 768px) {
	.modal-form .form-title {
		padding: 0;
	}
}

.modal-form .modal-label {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.04em;
	color: #8e8f99;
	display: block;
	margin-bottom: 4px;
}

.modal-form textarea {
	width: 100%;
	height: 120px;
	padding: 8px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	margin-bottom: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	resize: none;
	outline: none; 
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .checkbox-custom {
	margin-bottom: 24px;
	position: absolute;
    top: 4px;
    padding-left: 5px;
}

.modal-form .modal-send-button {
	font-family: inherit;
	font-weight: 500;	
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: #4D5AE5;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	max-width: 169px;
	padding: 16px 32px;
	border-radius: 4px;
	color: #ffffff;
	border: none;
	margin: 0 auto;
    display: block;
}

/* form-icons */

.input-wrapper {
	margin-bottom: 8px;
}

.input-wrapper .text-field {
	position: relative;
	width: 100%;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper .text-field .input-icon {
	position: absolute;
	top: 50%;
	left: 19px;
	transform: translateY(-50%);
	pointer-events: none;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus-within .input-icon,
.text-field:focus .input-icon {
  fill: #4d5ae5;
}

.modal-form input.input-checkbox {
	width: auto;
}

/* checkbox */

.checkbox-wrapper {
	margin-bottom: 24px;
	position: relative;
}

.terms-label {
	display: flex;
	align-items: baseline;
	column-gap: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16667;
	letter-spacing: 0.04em;
	color: #8e8f99;
}

.input-checkbox:focus + .terms-label .custom-checkbox {
	border-color: #404BBF;
	outline: none;
}

.input-checkbox:checked + .terms-label .custom-checkbox {
	background-color: #404BBF;
	border: 1px solid #404bbf;
	fill: #F4F4FD;
}

.custom-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16px;
	width: 16px;
	border-radius: 2px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	background-color: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: none;
}

.akcent {
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #4d5ae5;
	transition: text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.akcent:hover {
	color: #404BBF;
	text-decoration: none;
}

button.modal-send-button:hover,
button.modal-send-button:focus {
	background-color: #404BBF;
}